<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=team1%> vs <%= team2 %> </title>
    <style>

    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/public/started.css"> -->
     <style>
        body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal; 
    background-color:#E0FBE2 ;
}
h1,h2{
    color: #1A5319;
}

.mya{
    text-decoration: none;
    margin: 10px;
    background-color: transparent;
    border-style: solid;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    background-color: green;
    border-color: green;
    width: 70px;
    height: 70px;
 
 }
 .mya {
     color: white; /* Default color for links */
 }
 
 .mya:visited {
     color: white; /* Same color as the default to prevent color change */
 }
 
 .mya:hover {
     color: green; /* Color when hovered over */
     background-color: white;
 }
 
 .mya:active {
     color: green; /* Color when active (clicked) */
 }
 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }



 .myaa{
    text-decoration: none;
    margin: 10px 10px 10px 0px;
    background-color: transparent;
    border-style: solid;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    background-color: green;
    border-color: green;
    font-size: large;
 
 }
 .myaa {
     color: white; /* Default color for links */
 }
 
 .myaa:visited {
     color: white; /* Same color as the default to prevent color change */
 }
 
 .myaa:hover {
     color: green; /* Color when hovered over */
     background-color: white;
 }
 
 .myaa:active {
     color: green; /* Color when active (clicked) */
 }
 
     </style>
    
</head>
<body>
    <div class="container">
        <div>
            <h1>First Innings( <%=batting%>'s team batting )</h1>
        <h1> <%= score %> - <%= wicket %> </h1>
        <h2>Over : <%= currentOvers %>.<%= balls%> / <%= overs %>  </h2>
    
        <h2 class="ballsPlayed"><%= cur%></h2>
        
    
        <% if (locals.secondInnings === 1 ) { %>
            <form action="secgame" method="post">
               <input class="myaa" type="submit" value="Second Innings">
            </form>
            <h1>Target :<%= target %></h1>
            <h1><%= alert %></h1>
        <% } else{ %>
        <form action="/start" method="post">
            <div>
    
                <button class="mya" name="scoreBtn" value="0">0</button>
                <button class="mya" name="scoreBtn" value="1">1</button>
                <button class="mya" name="scoreBtn" value="2">2</button>
                <button class="mya" name="scoreBtn" value="3">3</button>
                <button class="mya" name="scoreBtn" value="4">4</button>
            </div>
    
            <div>
                <button class="mya" name="scoreBtn" value="5">5</button>
                <button class="mya" name="scoreBtn" value="6">6</button>
                <button class="mya" name="extrasBtn" value="wide">wide</button>
                <button class="mya" name="extrasBtn" value="noball">noball</button>
                <button class="mya" name="out" value="out">Wicket</button>
                
            </div>
    
        </form>
        <% } %>
        </div>
    </div>
    

</body>
</html>