<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=team1%> vs <%= team2 %> </title>
    <style>

    </style>
</head>
<body>
    <h1>First Innings</h1>
    <h1> <%= score %> - <%= wicket %> </h1>
    <h2>Over : <%= currentOvers %> / <%= overs %>  </h2>
    <div class="ballsPlayed"><%= cur%></div>
    <form action="/start" method="post">
        <button name="scoreBtn" value="0">0</button>
        <button name="scoreBtn" value="1">1</button>
        <button name="scoreBtn" value="2">2</button>
        <button name="scoreBtn" value="3">3</button>
        <button name="scoreBtn" value="4">4</button>
        <button name="scoreBtn" value="5">5</button>
        <button name="scoreBtn" value="6">6</button>
        <button name="extrasBtn" value="1">wide</button>
        <button name="extrasBtn" value="1">noball</button>
        <button name="out" value="out">Wicket</button>
        
    </form>
    <% if (locals.secondInnings === 1 ) { %>
        <form action="secgame" method="post">
           <input type="submit">
        </form>
        <h1>Target :<%= target %></h1>
        <h1><%= alert %></h1>
    <% } %>
    
    
    

</body>
</html>